body{
    background-color: rgba(0, 0, 0, 0.692);
    color:cadetblue
}
h1{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}
.box{
    background-color: maroon;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position: relative;
}
.row{
    padding: 40px 35%;
}
.container1{
    display: inline-block;
    text-align: center;
    margin-right: 2rem;
}
.container-2{
    display: inline-block;
    text-align: center;
}
.copyright{
    text-align: center;
    color:grey;
    padding-top: 5rem;
}
.dot{
    background-color: white;
    height:32px;
    width: 32px;
    border-radius: 100%;
    position: absolute;
    left: 84px;
    top: 84px;
}